<div>
  <p>コメント件数：<%= post.post_comments.count %></p>
  <% post_comments.each do |post_comment| %>
  <p>
    <strong><%= post_comment.comment %></strong>
    <small>by <%= post_comment.user.name %> さん</small>
    <small><%= post_comment.created_at.strftime("%Y-%m-%d %H:%M") %></small>
    <% if admin_signed_in? %>
      <%= link_to "削除", admin_post_post_comment_path(post_comment.post, post_comment), method: :delete, class: 'btn-sm btn-danger', "data-confirm" => "削除しますか？" %>
    <% elsif post_comment.user == current_user %>
      <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, class: 'btn-sm btn-danger', "data-confirm" => "削除しますか？" %>
    <% end %>
  </p>
  <% end %>
</div>