<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>投稿内容</h2>
      <div class="card">
        <div class="card-header">
          <label><%= @post.title %></label>
          <span>　<%= @post.user.name %>　さん</span>
          <span>　<%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></span>
        </div>
        <div class="card-body">
          <%= @post.content %>
        </div>
        <div class="card-footer">
          <% @post.tag_list.each do |tag| %>
            <%= link_to tag, posts_path(tag_name: tag), class: "btn btn-info" %>
          <% end %>
        </div>
      </div>
      <% if @post.user_id == current_user.id %>
        <%= link_to "編集する", edit_post_path(@post.id), class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>