<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>ユーザー一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th>ユーザーID</th>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.id, admin_user_path(user.id) %></td>
              <td><%= link_to user.name, admin_user_path(user.id) %></td>
              <td><%= user.email %></td>
              <td><%= link_to "削除", admin_user_path(user), method: :delete, class: 'btn btn-danger', "data-confirm" => "削除します？" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @users %>
    </div>
  </div>
</div>
