<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>投稿内容</h2>
      <div class="card">

        <div class="card-header">
          <label><%= @post.title %></label>
          <span>　<%= @post.user.name %>　さん</span>
          <span>　<%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></span>
        </div>

        <div class="card-body">
          <%= safe_join(@post.content.split("\n"),tag(:br)) %>
        </div>

        <div class="card-footer">
          <i class="fas fa-tag">
            <% @post_tags.each do |tag| %>
              <%= link_to posts_path(tag_id: tag) do %>
                <%= tag.name %><%= "(#{tag.posts.count})" %>
              <% end %>
            <% end %>
          </i>
        </div>
      </div>

      <%= link_to '削除', admin_post_path(@post.id), method: :delete, class: 'btn btn-danger', "data-confirm" => "削除しますか？" %>
      <%= render '/template/comment', post: @post, post_comments: @post_comments %>

      <%= paginate @post_comments %>
    </div>
  </div>
</div>